html{
 scroll-snap-type: y mandatory;
}
.app{
 height: 100vh;
 background-color: black; 
 display: grid;
 place-items: center;
 overflow: hidden;
}
.app__videos{
 position:relative;
 height: 90vh;
 border-radius: 20px;
 overflow: scroll;
 width: 80%;
 max-width: 350px;
 scroll-snap-type: y mandatory;
}
.app__videos::-webkit-scrollbar{
 display: none;
}
.app__videos{
 -ms-overflow-style: none;
 scrollbar-width: none;
}

@media(max-width: 900px){
    .app__videos{
        height: 80vh;
        max-width: 100%;
    }
}
